.btn {
  opacity: 1;
  background-color: rgb(126, 139, 54);
  padding: 4px 20px;
  transition: opacity 0.5s;
  border-color: bisque;
  color: rgb(255, 211, 196);



}


.btn:hover {
  opacity: 1;
  background-color: rgb(145, 168, 12);
  border-color: rgb(215, 204, 190);
  color: rgb(201, 245, 67);
}

.form-inline{
  margin-top: 90px;

  margin-bottom: 4px;
  
}


h1.center {
  text-align: center; 
  
  font-size: 70px;
  
  padding: 20px;
  color: #fff1c8;
}

form.center {
  width: 70px;
  /* margin-left:42%;  */
  /* margin-right:15%; */
  margin-top: 1%;
  
}





div.container {
  /* width: 100%;
  margin: 4%; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-size: 30px; */

}

#table1 {
  word-break: break-all;
  text-align: center;
  /* margin-left: auto;
  margin-right: 10%; */
  /* margin-right:auto;  */
  /* width: 400px; */
  color: #cdcdc6;
  background-color:rgba(0,0,0,0.4);

}

tr,
td {
  text-align: left;
  color: #f9f9f5;
}





.h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.bgImage {
  background-image: url(./bg-img.png);
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;

}

.shade{
  background-color: rgba(0,0,0,0.4);
  padding-left: 80px;
}

tbody, td, tfoot, th, thead, tr {
  /* border-color: inherit; */
  border-style:none;
  /* border-width: 0; */
  font-weight: 900;
  word-break: break-all;
  
}
thead{
  font-size: 20px;
  color: aqua;
  font-family: Impact, Haettenschweiler, sans-serif;
  

}
td{
  font-size: 26px;
}

